/* Space out content a bit */
body {
  padding-bottom: 20px;
  height: 100%;
  display:flex;
  font-family: 'Roboto', sans-serif;
}

html, body{
  font-size:1em;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

#doc-content{
    margin:auto;
}

#view-content{
  width:960px;
}

h1{
  margin:.25em 0;
}

/* Customize container */
@media (min-width: 600px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding:2em;
}

.jumbotron p{
  font-weight:500;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.md-button{
  padding:10px;
  margin-right:5px;
  margin-bottom:5px;
}

/*Stop anchor tags with md-button from overlapping */
a.md-button{
  display: inline-block;
}

/*SideNav Styles */
md-sidenav .md-button{
  margin:0;
}

md-toolbar{
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
}

/* Custom Stuff */
.done{
  text-decoration: line-through;
}

md-icon{
  margin-top:0px;
}

.appMenu{
  padding:10px;
  margin-right:10px;
}

.closeAppMenu{
  float:right;
}
.closeAppMenu object{
  width:24px;
}

.menu-item{
  width:100%;
  text-align:left;
  padding:12px;
}

.selectBox select{
  padding:6px 0 4px 0;
  border:none;
  border-bottom:1px solid #ddd;
}

.selectBox{
  padding-top:25px;
}

label{
  padding:0;
}

.select-label{
  position:absolute;
  top:-25px;
}


/*Modified the label text tansform so the text doesn't shrink */
md-input-container.md-input-focused label, md-input-container.md-input-has-value label {
-webkit-transform: translate3d(0, 4px, 0) scale(1);
transform: translate3d(0px, 4px, 0) scale(1);
}

/*Angular Material does not have proper dropdowns yet. Found a link to this code on the github issues page: https://gist.github.com/yarl/b3d4b4114d82c8bb041d */

md-input-container select.md-input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAD1BMVEUAAAB6enp6enp5eXn///+i9s37AAAAA3RSTlMAgIgilleHAAAAIklEQVR4AWOgG2BihgImmAgjhM+IUMOI4CNEGNHMYaKlKwEp5wBLyMAwGAAAAABJRU5ErkJggg==) 99% center no-repeat;
    margin: 0;
    padding: 0;
    margin-bottom: 1px;
}

md-input-container select.md-input:focus {
    border-bottom: 2px solid rgb(0, 188, 212) !important;
    margin-bottom: 0;
}

md-input-container select.md-input:focus::-ms-value {
    background: transparent;
    color: inherit;
}

md-input-container select.md-input::-ms-expand {
    display: none;
}

/*-End of select container styles-*/


.buttondemoBasicUsage {
/** From vulcanized demo **/ }
  .buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }
  .buttondemoBasicUsage md-content {
  margin-right: 7px; }
  .buttondemoBasicUsage section .md-button:not(.md-fab) {
  min-width: 10em; }
  .buttondemoBasicUsage section .md-button {
  display: block;
  margin: 1em;
  line-height: 25px; }
  .buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  color: #ccc;
  font-size: 14px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 600px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .jumbotron h1, .jumbotron .h1 {
    font-size: 63px;
  }
}
@media screen and (max-width: 1024px) {
  #view-content{
    width:100%;
  }
}
@media screen and (max-width: 600px) {
  a.md-button{
    max-width:100%;
    width:100%;
    display:block;
  }
  #doc-content{
      width:100%;
  }
  #doc-content > .ng-scope{
    width:100%;
    padding:1em;
  }
}
