<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>ScrollBinder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
<script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
    <!-- Roboto fonts: Normal(400), Medium(500), Bold(700) -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:700' rel='stylesheet' type='text/css'>
    <!-- endbuild -->


  </head>
  <body ng-app="myappApp" layout="row" layout-fill role="main">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-controller="AppCtrl" layout="column" layout-fill>
    <!-- Add your site or application content here -->
      <md-toolbar id="mainMenu" class="md-primary">
        <div class="md-toolbar-tools">
          <md-button class="md-primary appMenu" ng-click="toggleLeft()" aria-label="Menu">
            <img src="img/icons/ic_menu_white_24dp.png" style="width: 24px; height: 24px;">
          </md-button>
          <span class="md-flex">ScrollBinder</span>
        </div>

      </md-toolbar>
      <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-is-open="false" md-component-id="left">
          <md-toolbar>
            <div class="md-toolbar-tools">
              <span flex="85" class="md-flex">Menu</span>

              <md-button flex="15" class="md-primary closeAppMenu" ng-click="toggleLeft()" aria-label="Close Menu">
                <!-- <md-icon icon="img/icons/ic_clear_white_24dp.png" style="width: 24px; height: 24px;"></md-icon> -->
                <!-- <md-icon></md-icon> -->
                <img  style="width: 24px; height: 24px;" src="img/icons/ic_clear_white_24dp.png">

              </md-button>

            </div>

          </md-toolbar>
          <md-content ng-controller="LeftCtrl">

            <md-button ng-click="go('/')" class="md-padding md-primary menu-item">
              <img  style="width: 24px; height: 24px;" src="img/icons/home-icon.png">Home
            </md-button>

            <md-button ng-click=" gotoTop(); go('/character-details')" class="md-padding md-primary menu-item">
              <img  style="width: 24px; height: 24px;" src="img/icons/person-icon.png">Character Details
            </md-button>

            <md-button ng-click="gotoTop(); go('/proficiency')" class="md-padding md-primary menu-item">
              <img  style="width: 24px; height: 24px;" src="img/icons/lightbulb-icon.png">Proficiency
            </md-button>

            <md-button ng-click="gotoTop(); go('/ability-scores')" class="md-padding md-primary menu-item">
              <img  style="width: 24px; height: 24px;" src="img/icons/dice.png">Ability Scores
            </md-button>

            <md-button ng-click="go('/character-summary')" class="md-padding md-primary menu-item">
              <img  style="width: 24px; height: 24px;" src="img/icons/details-icon.png">Character Summary
            </md-button>
              
            <md-button ng-click="go('/party')" class="md-padding md-primary menu-item">
              <img  style="width: 24px; height: 24px;" src="img/icons/details-icon.png">Party
            </md-button>

          </md-content>
        </md-sidenav>
        <md-content flex>
          <div id="doc-content" layout="column" layout-fill layout-align="center center">

            <!-- Render the selected view -->
            <div id="view-content" ng-view=""></div>

          </div>
        </md-content>
      </section>
    </div>


    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>
    <script src="../bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/details_new.js"></script>
        <script src="scripts/controllers/proficiency.js"></script>
        <script src="scripts/controllers/ability-scores.js"></script>
        <script src="scripts/controllers/to-do.js"></script>
        <script src="scripts/controllers/summary.js"></script>
        <script src="scripts/controllers/party.js"></script>
        <script src="scripts/realtime/realtime-client-utils.js"></script>
        <script src="scripts/realtime/realtime.js"></script>
<!--      <script src="scripts/realtime/drive.js"></script>-->
      <script src="scripts/controllers/toe.js"></script>
        <!-- endbuild -->
      
</body>
</html>
