<p>Character Details include:</p>
<ul>
  <li>Character Name</li>
  <li>Race</li>
  <li>Subrace</li>
  <li>Class</li>
  <li>Background</li>
  <li>Alignment</li>
  <li>Experience Points</li>
  <li>Level</li>
</ul>

<div>
<md-content>
    <form name="userForm">

      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Character Name</label>
          <input ng-model="details.name">
        </md-input-container>

        <md-input-container class="selectBox" flex>
          <label class="md-primary select-label">Race</label>
          <select class="md-input" ng-model="selectedItem" ng-options="item for item in characterClasses">
          </select>
        </md-input-container>

        <md-input-container class="selectBox" flex>
          <label class="md-primary select-label">Subrace</label>
          <select class="md-input" ng-model="selectedItem" ng-options="item for item in characterClasses">
          </select>
        </md-input-container>
      </div>

      <div layout layout-sm="column">
        <md-input-container class="selectBox" flex>
          <label class="md-primary select-label">Class</label>
          <select class="md-input" ng-model="selectedItem" ng-options="item for item in characterClasses">
          </select>
        </md-input-container>
        <md-input-container class="selectBox" flex>
          <label class="md-primary select-label">Background</label>
          <select class="md-input" ng-model="selectedItem" ng-options="item for item in characterClasses">
          </select>
        </md-input-container>
        <md-input-container class="selectBox" flex>
          <label class="md-primary select-label">Alignment</label>
          <select class="md-input" ng-model="selectedItem" ng-options="item for item in characterClasses">
          </select>
        </md-input-container>
      </div>

      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Experience Points</label>
          <input ng-model="details.experience">
        </md-input-container>
        <md-input-container flex>
          <label>Level</label>
          <input ng-model="details.level">
        </md-input-container>
      </div>
    </form>
  </md-content>
</div>
