<ul class="done">
  <li>Character Details</li>
</ul>

<ul class="done">
  <li>Ability Scores</li>
</ul>

<ul>
  <li>Proficiency</li>
  <ul>
    <li>Proficiency Bonus</li>
    <li>Armor</li>
    <li>Weapons</li>
    <li>Tools</li>
    <li>Tools</li>
    <li>Saving Throws</li>
    <li>Skills</li>
  </ul>
</ul>

<ul>
  <li>Skills</li>
  <ul>
    <li>Acrobatics</li>
    <li>Animal Handling</li>
    <li>Arcana</li>
    <li>Athletics</li>
    <li>Deception</li>
    <li>History</li>
    <li>Insight</li>
    <li>Intimidation</li>
    <li>Investigation</li>
    <li>Investigation</li>
    <li>Medicine</li>
    <li>Nature</li>
    <li>Perception</li>
    <li>Performance</li>
    <li>Religion</li>
    <li>Sleight of hand</li>
    <li>Stealth</li>
    <li>Survival</li>
  </ul>
</ul>

<ul>
  <li>Background</li>
  <ul>
    <li>Personality Traits</li>
    <li>Ideals</li>
    <li>Bonds</li>
    <li>Flaws</li>
  </ul>
</ul>
